* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.search {
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.sol {
    border: 5px solid white;
    background-color: aqua;
    text-align: center;
    text-transform: capitalize;
    float: left;
    
}

td {
    border: solid white;
    border-collapse: separate;
    border-spacing: 5px;
}

.font {
    font-size: small;
}

.footer {
    text-align: center;
    font-size: small;
}